-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."LeadLifecycle" AS ENUM ('imported', 'validated', 'duplicate_filtered', 'queued', 'scored', 'draft_generated', 'pending_approval', 'approved', 'sent', 'replied', 'negotiating', 'won', 'lost', 'paused', 'rejected');

-- CreateEnum
CREATE TYPE "public"."MessageLifecycle" AS ENUM ('draft', 'saved', 'pending_approval', 'approved', 'sending', 'sent', 'failed', 'rejected', 'edited');

-- CreateEnum
CREATE TYPE "public"."ImportJobStatus" AS ENUM ('queued', 'processing', 'completed', 'failed');

-- CreateEnum
CREATE TYPE "public"."ImportRowStatus" AS ENUM ('imported', 'duplicate', 'invalid', 'failed');

-- CreateEnum
CREATE TYPE "public"."ApprovalStatus" AS ENUM ('pending', 'approved', 'rejected');

-- CreateEnum
CREATE TYPE "public"."ReplyIntent" AS ENUM ('interested', 'not_interested', 'objection', 'pricing', 'meeting', 'unknown');

-- CreateEnum
CREATE TYPE "public"."FollowupStatus" AS ENUM ('scheduled', 'sent', 'skipped', 'cancelled');

-- CreateTable
CREATE TABLE "public"."User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'owner',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."GmailAccount" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "accessToken" TEXT,
    "refreshToken" TEXT,
    "expiryDate" TIMESTAMP(3),
    "scope" TEXT,
    "connectedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "GmailAccount_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."BusinessProfile" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "companyName" TEXT NOT NULL,
    "valueProp" TEXT NOT NULL,
    "toneRules" TEXT NOT NULL,
    "pricingRules" TEXT NOT NULL,
    "objectionRules" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "BusinessProfile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Offer" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "price" DOUBLE PRECISION,
    "currency" TEXT DEFAULT 'USD',
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Offer_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Lead" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "firstName" TEXT NOT NULL,
    "lastName" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT,
    "company" TEXT NOT NULL,
    "title" TEXT,
    "source" TEXT,
    "priority" TEXT NOT NULL DEFAULT 'medium',
    "score" INTEGER,
    "confidenceScore" DOUBLE PRECISION,
    "signalBreakdown" JSONB,
    "notes" TEXT,
    "tags" JSONB,
    "lifecycle" "public"."LeadLifecycle" NOT NULL DEFAULT 'imported',
    "lastContactedAt" TIMESTAMP(3),
    "lastRepliedAt" TIMESTAMP(3),
    "needsAction" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Lead_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Thread" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "gmailThreadId" TEXT,
    "subject" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Thread_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ThreadLead" (
    "threadId" TEXT NOT NULL,
    "leadId" TEXT NOT NULL,
    "linkedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ThreadLead_pkey" PRIMARY KEY ("threadId","leadId")
);

-- CreateTable
CREATE TABLE "public"."Message" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "leadId" TEXT NOT NULL,
    "threadId" TEXT,
    "gmailMessageId" TEXT,
    "fromEmail" TEXT,
    "toEmail" TEXT,
    "subject" TEXT NOT NULL,
    "body" TEXT NOT NULL,
    "lifecycle" "public"."MessageLifecycle" NOT NULL DEFAULT 'draft',
    "direction" TEXT NOT NULL DEFAULT 'outbound',
    "aiSummary" TEXT,
    "replyIntent" "public"."ReplyIntent",
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "sentAt" TIMESTAMP(3),

    CONSTRAINT "Message_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Approval" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "leadId" TEXT NOT NULL,
    "messageId" TEXT NOT NULL,
    "status" "public"."ApprovalStatus" NOT NULL DEFAULT 'pending',
    "reviewerNote" TEXT,
    "reviewedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Approval_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ImportJob" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "filename" TEXT NOT NULL,
    "status" "public"."ImportJobStatus" NOT NULL DEFAULT 'queued',
    "stage" TEXT NOT NULL DEFAULT 'queued',
    "progress" INTEGER NOT NULL DEFAULT 0,
    "totalRows" INTEGER NOT NULL DEFAULT 0,
    "importedRows" INTEGER NOT NULL DEFAULT 0,
    "duplicateRows" INTEGER NOT NULL DEFAULT 0,
    "invalidRows" INTEGER NOT NULL DEFAULT 0,
    "errorRows" INTEGER NOT NULL DEFAULT 0,
    "errorMessage" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "completedAt" TIMESTAMP(3),

    CONSTRAINT "ImportJob_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ImportRow" (
    "id" TEXT NOT NULL,
    "importJobId" TEXT NOT NULL,
    "leadId" TEXT,
    "rowNumber" INTEGER NOT NULL,
    "status" "public"."ImportRowStatus" NOT NULL,
    "rawData" JSONB NOT NULL,
    "errorReason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ImportRow_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."KnowledgeRule" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "KnowledgeRule_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."KnowledgeChunk" (
    "id" TEXT NOT NULL,
    "knowledgeRuleId" TEXT NOT NULL,
    "chunkIndex" INTEGER NOT NULL,
    "content" TEXT NOT NULL,
    "tokenCount" INTEGER,
    "embedding" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "KnowledgeChunk_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."AnalyticsEvent" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "leadId" TEXT,
    "messageId" TEXT,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AnalyticsEvent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Followup" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "leadId" TEXT NOT NULL,
    "dayOffset" INTEGER NOT NULL,
    "dueAt" TIMESTAMP(3) NOT NULL,
    "sentAt" TIMESTAMP(3),
    "status" "public"."FollowupStatus" NOT NULL DEFAULT 'scheduled',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Followup_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ProcessingEvent" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "eventType" TEXT NOT NULL,
    "leadId" TEXT,
    "messageId" TEXT,
    "importJobId" TEXT,
    "payload" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ProcessingEvent_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "public"."User"("email");

-- CreateIndex
CREATE INDEX "GmailAccount_userId_idx" ON "public"."GmailAccount"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "GmailAccount_userId_email_key" ON "public"."GmailAccount"("userId", "email");

-- CreateIndex
CREATE UNIQUE INDEX "BusinessProfile_userId_key" ON "public"."BusinessProfile"("userId");

-- CreateIndex
CREATE INDEX "Offer_userId_active_idx" ON "public"."Offer"("userId", "active");

-- CreateIndex
CREATE INDEX "Lead_userId_lifecycle_idx" ON "public"."Lead"("userId", "lifecycle");

-- CreateIndex
CREATE INDEX "Lead_userId_score_idx" ON "public"."Lead"("userId", "score");

-- CreateIndex
CREATE INDEX "Lead_userId_needsAction_idx" ON "public"."Lead"("userId", "needsAction");

-- CreateIndex
CREATE UNIQUE INDEX "Lead_userId_email_company_key" ON "public"."Lead"("userId", "email", "company");

-- CreateIndex
CREATE UNIQUE INDEX "Thread_gmailThreadId_key" ON "public"."Thread"("gmailThreadId");

-- CreateIndex
CREATE INDEX "Thread_userId_updatedAt_idx" ON "public"."Thread"("userId", "updatedAt");

-- CreateIndex
CREATE INDEX "ThreadLead_leadId_idx" ON "public"."ThreadLead"("leadId");

-- CreateIndex
CREATE UNIQUE INDEX "Message_gmailMessageId_key" ON "public"."Message"("gmailMessageId");

-- CreateIndex
CREATE INDEX "Message_leadId_createdAt_idx" ON "public"."Message"("leadId", "createdAt");

-- CreateIndex
CREATE INDEX "Message_threadId_createdAt_idx" ON "public"."Message"("threadId", "createdAt");

-- CreateIndex
CREATE INDEX "Message_userId_lifecycle_idx" ON "public"."Message"("userId", "lifecycle");

-- CreateIndex
CREATE INDEX "Message_direction_createdAt_idx" ON "public"."Message"("direction", "createdAt");

-- CreateIndex
CREATE INDEX "Approval_status_createdAt_idx" ON "public"."Approval"("status", "createdAt");

-- CreateIndex
CREATE INDEX "Approval_leadId_idx" ON "public"."Approval"("leadId");

-- CreateIndex
CREATE INDEX "Approval_messageId_idx" ON "public"."Approval"("messageId");

-- CreateIndex
CREATE INDEX "ImportJob_userId_createdAt_idx" ON "public"."ImportJob"("userId", "createdAt");

-- CreateIndex
CREATE INDEX "ImportJob_status_idx" ON "public"."ImportJob"("status");

-- CreateIndex
CREATE INDEX "ImportRow_importJobId_rowNumber_idx" ON "public"."ImportRow"("importJobId", "rowNumber");

-- CreateIndex
CREATE INDEX "ImportRow_status_idx" ON "public"."ImportRow"("status");

-- CreateIndex
CREATE INDEX "KnowledgeRule_userId_category_idx" ON "public"."KnowledgeRule"("userId", "category");

-- CreateIndex
CREATE INDEX "KnowledgeRule_active_idx" ON "public"."KnowledgeRule"("active");

-- CreateIndex
CREATE INDEX "KnowledgeChunk_knowledgeRuleId_idx" ON "public"."KnowledgeChunk"("knowledgeRuleId");

-- CreateIndex
CREATE UNIQUE INDEX "KnowledgeChunk_knowledgeRuleId_chunkIndex_key" ON "public"."KnowledgeChunk"("knowledgeRuleId", "chunkIndex");

-- CreateIndex
CREATE INDEX "AnalyticsEvent_userId_type_createdAt_idx" ON "public"."AnalyticsEvent"("userId", "type", "createdAt");

-- CreateIndex
CREATE INDEX "AnalyticsEvent_leadId_idx" ON "public"."AnalyticsEvent"("leadId");

-- CreateIndex
CREATE INDEX "AnalyticsEvent_messageId_idx" ON "public"."AnalyticsEvent"("messageId");

-- CreateIndex
CREATE INDEX "Followup_status_dueAt_idx" ON "public"."Followup"("status", "dueAt");

-- CreateIndex
CREATE UNIQUE INDEX "Followup_leadId_dayOffset_key" ON "public"."Followup"("leadId", "dayOffset");

-- CreateIndex
CREATE INDEX "ProcessingEvent_userId_eventType_createdAt_idx" ON "public"."ProcessingEvent"("userId", "eventType", "createdAt");

-- CreateIndex
CREATE INDEX "ProcessingEvent_leadId_idx" ON "public"."ProcessingEvent"("leadId");

-- CreateIndex
CREATE INDEX "ProcessingEvent_messageId_idx" ON "public"."ProcessingEvent"("messageId");

-- CreateIndex
CREATE INDEX "ProcessingEvent_importJobId_idx" ON "public"."ProcessingEvent"("importJobId");

-- AddForeignKey
ALTER TABLE "public"."GmailAccount" ADD CONSTRAINT "GmailAccount_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."BusinessProfile" ADD CONSTRAINT "BusinessProfile_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Offer" ADD CONSTRAINT "Offer_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Lead" ADD CONSTRAINT "Lead_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Thread" ADD CONSTRAINT "Thread_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ThreadLead" ADD CONSTRAINT "ThreadLead_threadId_fkey" FOREIGN KEY ("threadId") REFERENCES "public"."Thread"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ThreadLead" ADD CONSTRAINT "ThreadLead_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES "public"."Lead"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Message" ADD CONSTRAINT "Message_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Message" ADD CONSTRAINT "Message_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES "public"."Lead"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Message" ADD CONSTRAINT "Message_threadId_fkey" FOREIGN KEY ("threadId") REFERENCES "public"."Thread"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Approval" ADD CONSTRAINT "Approval_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Approval" ADD CONSTRAINT "Approval_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES "public"."Lead"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Approval" ADD CONSTRAINT "Approval_messageId_fkey" FOREIGN KEY ("messageId") REFERENCES "public"."Message"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ImportJob" ADD CONSTRAINT "ImportJob_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ImportRow" ADD CONSTRAINT "ImportRow_importJobId_fkey" FOREIGN KEY ("importJobId") REFERENCES "public"."ImportJob"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ImportRow" ADD CONSTRAINT "ImportRow_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES "public"."Lead"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."KnowledgeRule" ADD CONSTRAINT "KnowledgeRule_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."KnowledgeChunk" ADD CONSTRAINT "KnowledgeChunk_knowledgeRuleId_fkey" FOREIGN KEY ("knowledgeRuleId") REFERENCES "public"."KnowledgeRule"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."AnalyticsEvent" ADD CONSTRAINT "AnalyticsEvent_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Followup" ADD CONSTRAINT "Followup_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Followup" ADD CONSTRAINT "Followup_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES "public"."Lead"("id") ON DELETE CASCADE ON UPDATE CASCADE;

